# Lung Cancer Extraction Test:

------------------------

In this note book i will be testing the lung cancer extraction process to then turn it into a script:

I will be testing the extraction on the 2014 data :D

In [1]:
# import statements:
import sqlalchemy as sa
import pandas as pd
import os

In [43]:
connection_url = f"mysql+pymysql://{os.getenv('test_db_username')}:{os.getenv('test_db_password')}@{os.getenv('test_db_hostname')}/{os.getenv('test_db_database_name')}"
db_engine = sa.create_engine(connection_url)

In [51]:
with db_engine.connect() as conn:
    result = conn.execute(sa.text("SELECT 1"))
    print(result.fetchone())

(1,)

In [2]:
data = pd.read_csv("..\\..\\0.1.Data Used\\cancer data\\cancer_2014.csv")

In [6]:
data['year'].unique().tolist()

[2014]

In [13]:
data.sample(5)

,Unnamed: 0,id,age,gender,country,diagnosis_date,cancer_stage,beginning_of_treatment_date,family_history,smoking_status,bmi,cholesterol_level,hypertension,asthma,cirrhosis,other_cancer,treatment_type,end_treatment_date,survived,year
29476,513771,513772,72.0,Male,Greece,2014-11-30,Stage I,2014-12-06,No,Never Smoked,23.2,192,1,1,0,0,Chemotherapy,2016-07-14,0,2014
159262,2762223,2762224,61.0,Female,Germany,2014-07-29,Stage III,2014-08-08,No,Current Smoker,18.8,194,0,1,1,0,Radiation,2015-02-04,0,2014
124869,2167932,2167933,79.0,Male,Luxembourg,2014-08-06,Stage III,2014-08-19,Yes,Current Smoker,20.0,160,1,1,0,0,Radiation,2016-06-07,0,2014
167883,2909763,2909764,53.0,Female,Slovakia,2014-09-30,Stage I,2014-10-29,No,Never Smoked,20.9,157,1,0,0,0,Combined,2015-12-19,0,2014
156231,2709910,2709911,54.0,Female,Belgium,2014-07-20,Stage I,2014-07-27,Yes,Never Smoked,16.7,200,1,0,0,0,Chemotherapy,2015-09-15,1,2014

In [14]:
data.shape

(187482, 20)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187482 entries, 0 to 187481
Data columns (total 19 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           187482 non-null  int64
 1   age                          187482 non-null  float64
 2   gender                       187482 non-null  object
 3   country                      187482 non-null  object
 4   diagnosis_date               187482 non-null  object
 5   cancer_stage                 187482 non-null  object
 6   beginning_of_treatment_date  187482 non-null  object
 7   family_history               187482 non-null  object
 8   smoking_status               187482 non-null  object
 9   bmi                          187482 non-null  float64
 10  cholesterol_level            187482 non-null  int64
 11  hypertension                 187482 non-null  int64
 12  asthma                       187482 non-null  int64
 13  cirrhosis                    187482 non-null  int64
 14  other_cancer                 187482 non-null  int64
 15  treatment_type               187482 non-null  object
 16  end_treatment_date           187482 non-null  object
 17  survived                     187482 non-null  int64
 18  year                         187482 non-null  int64
dtypes: float64(2), int64(8), object(9)
memory usage: 27.2+ MB

In [22]:
data = data.drop('Unnamed: 0', axis=1)

In [44]:
try:
    with db_engine.connect() as connection:
        print("Connection to MySQL database successful!")
except Exception as e:
    print(f"Error: {e}")

Connection to MySQL database successful!

In [45]:
try:
    with db_engine.connect() as connection:
        result = connection.execute(sa.text("SELECT 1"))
        print(result.fetchone())
except Exception as e:
    print(f"Error: {e}")

(1,)

In [53]:
# Write DataFrame to SQL table
try:
    data.to_sql('lung_cancer', con= db_engine, if_exists='append', index=False)
    print("Data inserted successfully!")
except Exception as e:
    print(f"Error: {e}")

Data inserted successfully!

## Data Validation:

In [64]:
try:
    sql_data_count = pd.read_sql('SELECT COUNT(*) AS count FROM lung_cancer', db_engine)
    print(f"Data inserted has {sql_data_count['count'][0]} rows and original df had {data.shape[0]} rows")
except Exception as e:
    print(f"Error: {e}")

Data inserted has 187482 rows and original df had 187482 rows