In [20]:
# import statements:
import sqlalchemy as sa
from sqlalchemy import create_engine
import pandas as pd
import os

In [23]:
connection_url = f"mysql+pymysql://{os.getenv('test_db_username')}:{os.getenv('test_db_password')}@{os.getenv('test_db_hostname')}/{os.getenv('test_db_database_name')}"
db_engine = create_engine(connection_url)

In [24]:
with db_engine.connect() as conn:
    result = conn.execute(sa.text("SELECT 1"))
    print(result.fetchone())

(1,)

In [5]:
data = pd.read_csv("..\\..\\0.1.Data Used\\country_region.csv")

In [6]:
data.shape

(27, 2)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  27 non-null     object
 1   region   27 non-null     object
dtypes: object(2)
memory usage: 564.0+ bytes

In [15]:
try:
    with db_engine.connect() as connection:
        print("Connection to MySQL database successful!")
except Exception as e:
    print(f"Error: {e}")

Connection to MySQL database successful!

In [16]:
try:
    with db_engine.connect() as connection:
        result = connection.execute(sa.text("SELECT 1"))
        print(result.fetchone())
except Exception as e:
    print(f"Error: {e}")

(1,)

In [25]:
# Write DataFrame to SQL table
try:
    data.to_sql('country_region', con= db_engine, if_exists='replace', index=False)
    print("Data inserted successfully!")
except Exception as e:
    print(f"Error: {e}")

Data inserted successfully!